@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
} 

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;  
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;  
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;  
}

* {
  cursor: default;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1, h3, p {
  margin: 0;
  font-size: 1em;
}

body {
  margin: 0;
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;  
}

.container {
  margin: 0 auto;
  width: 1020px;
  box-sizing: border-box;
}

.header {  
  padding-top: 31px;
  padding-bottom:32px;
  text-transform: uppercase;
  border-bottom: 6px solid #323746;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  margin-left: 40px;
  line-height: 26px;
  letter-spacing: -0.5px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
}

.logo {
  color: #fff;
}

.logo-addition {
  color: #f06c64;
}

.header nav {
  margin-right: 40px;
}

.main-navigation {
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.main-navigation li {
  margin-left: 28px;
  padding-top: 12px;
  letter-spacing: -0.3px;
}
.main-navigation a {
  color: #fff;
}

.main-navigation li+li:before {
  content: "\00B7";
  position: relative;
  left: -14px;
  opacity: .2;
}

.main-navigation a:hover {
  color: #f06c64;
}

.slider {  
  height: 600px;
  border-bottom: 5px solid #ea676b;
  background-color: #f06c64;
  position: relative;
}

.slider-content {
  padding: 53px 0;
  margin: 0 auto;
  width: 820px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-arrow {
  position: absolute;
}

.phone {
  position: relative;
  z-index: 2;
}

.phone-vertical {
  margin-left: 12px;
  display: block;
}

.phone-vertical:after {
  content: url("./assets/images/iphone-shadow.png");
  position: absolute;
  left: 0;
  z-index: -1;
}

.phone-horizontal {
  top: -1px;
  right: 160px;
  transform: rotate(90deg);
}

.phone-horizontal:after {
  content: url("./assets/images/iphone-shadow.png");
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: rotateY(180deg);
  z-index: -1;
}

.display {
  position: absolute;
  z-index: 1;
}

.vertical-display {  
  width: 190px;
  height: 335px;
  background-image: url("./assets/images/vertical-phone-bg.png");
  background-position: -13px -134px;
  background-repeat: no-repeat;  
  left: 13px;
  top: 64px;
}

.horizontal-display{
  width: 335px;
  height: 190px;
  background-image: url("./assets/images/horizontal-phone-bg.png");
  background-position: -123px -117px;
  transform: rotate(-90deg);
  right: -59px;
  top: 137px;    
}

.slider-arrow {
  background: none;
  border: none;
  position: absolute;
  top: 279px;
}

.slider-arrow-left {  
    left: 35px;
}

.slider-arrow-right {
  right: 35px;
}

.slider-arrow-right:hover, .slider-arrow-left:hover {
  transform: scale(1.2);
}

.services {
  padding: 35px 29px 30px 31px;
  color: #666d89;
  border-bottom: 6px solid #f2f2f2;
  background-color: #f2f2f2;
}

.services h2 {
  margin-left: 9px;
  margin-bottom: 19px;
  font-size: 30px;
  font-weight: 900;
}

.annotation {
  margin-left: 9px;
  margin-bottom: 45px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-wrapper {
  margin: 0 10px 32px;
  width:300px;
  display: flex;
}

.article-wrapper img {
  padding-top: 2px;
  min-width: 59px;
  max-height: 59px;  
}

.article-wrapper > div {
  margin-left: 21px;
  display: flex;
  flex-direction: column;
}

.article-header {
  line-height: 18px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.article-topic {
  line-height: 21px;
  text-align: justify;
}