@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Light.ttf") format("truetype");
  font-weight: 300;
} 

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
  font-weight: 400;  
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: 700;  
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato/Lato-Black.ttf") format("truetype");
  font-weight: 900;  
}

* {
  cursor: default;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 1em;
}

body {
  font-family: "Lato";
  font-size: 12px;
  font-weight: 400;  
}

.container {
  margin: 0 auto;
  width: 1020px;
  box-sizing: border-box;
}

.header {  
  padding-top: 30px;
  padding-bottom: 23px;
  text-transform: uppercase;
  border-bottom: 5px solid #323746;
  background-color: #2d303a;
  display: flex;
  justify-content: space-between;
}

.logo-link {
  margin-left: 40px;
  line-height: 26px;
  letter-spacing: -0.5px;
  display: flex;
  font-size: 25px;
  font-weight: 700;
}

.logo {
  color: #fff;
}

.logo-addition {
  color: #f06c64;
}

.header nav {
  margin-right: 40px;
}

.main-navigation {
  font-weight: 700;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.main-navigation li {
  margin-left: 28px;
  letter-spacing: -0.3px;
}

.main-navigation li+li:before {
  content: "\00B7";
  position: relative;
  left: -14px;
  opacity: .2;
}

.main-navigation a:hover {
  color: #f06c64;
}

.slider {  
  height: 600px;
  border-bottom: 5px solid #ea676b;
  background-color: #f06c64;
  position: relative;
}

.slider-content {
  padding: 53px 0;
  margin: 0 auto;
  width: 820px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-arrow {
  position: absolute;
}

.phone {
  position: relative;
}

.phone-vertical {
  margin-left: 12px;
  display: block;
}

.phone-vertical:after {
  content: url("./assets/images/iphone-shadow.png");
  position: absolute;
  left: 0;
}

.phone-horizontal {
  right: 160px;
  transform: rotate(90deg);
}

.phone-horizontal:after {
  content: url("./assets/images/iphone-shadow.png");
  position: absolute;
  left: 0px;
  bottom: 0px;
  transform: rotateY(180deg);
}

.display {
  width: 190px;
  height: 335px;
  position: absolute;
  left: 13px;
  top: 64px;
}

.vertical-display {
  
  background-image: url(./assets/images/vertical-phone-bg.png);
}

.horizontal-display{
  background-image: url(./assets/images/horizontal-phone-bg.png);
}


.slider-arrow {
  background: none;
  border: none;
  position: absolute;
  top: 279px;
}

.slider-arrow-left {  
    left: 35px;
}

.slider-arrow-right {
  right: 35px;
}

.slider-arrow-right:hover, .slider-arrow-left:hover {
  transform: scale(1.2);
}


.services {
  padding: 35px 40px;
  color: #666d89;

}

.services h2 {
  font-size: 30px;
  font-weight: 900;
}

.annotation {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
}

.article-container {
  display: flex;
  flex-wrap: wrap;
}

.article-wrapper {
  width: 33%;
  display: flex;
}

.article-header {
  font-size: 18px;
  font-weight: 700;
}
.article-image {
  width: 60px;
  height: 60px;
  display: inline-block;
}

.article-wrapper > div {
  display: flex;
  flex-direction: column;
}